      <tr>
        <td class="whitespace-nowrap border-b border-opacity-50 border-slate-300 py-4 pl-4 pr-3 text-md font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= school.name %></td>
        <td class="whitespace-nowrap border-b border-opacity-50 border-slate-300 py-4 pl-4 pr-3 text-md font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= school.city %></td>
        <td class="whitespace-nowrap border-b border-opacity-50 border-slate-300 py-4 pl-4 pr-3 text-md font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= school.state %></td>
        <td class="whitespace-nowrap border-b border-opacity-50 border-slate-300 py-4 pl-4 pr-3 text-md font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= school.no_of_students %></td>
      </tr>
    

  

